* {
  margin: 0;
  padding: 0;
  font-family: "Sometype Mono", monospace;
}

:root {
  --primary-c: #090916;
  --secondary-c: #120926;
  --third-c: #150e42;
}

body {
  background-color: var(--color-1, var(--secondary-c));
  display: flex;
  flex-direction: column;
  color: var(--color-4, white);
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--color-2, var(--primary-c));
  border-bottom: var(--color-3, var(--third-c)) 1px solid;
  box-shadow: 0px 10px 12px 2px rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.intro-container {
  text-align: center;
  margin-top: 10px;
}

.intro-container p {
  font-size: 0.8em;
  color: grey;
}

.nba-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
}

.nba-card {
  text-align: center;
  background-color: var(--third-c);
  border-radius: 7px;
  color: #d0d0d0;
  box-shadow: 0px 10px 12px 10px rgba(0, 0, 0, 0.1);
}

.loading-container {
  margin-top: 100px;
}
